@media (max-width:1095) {
    .hero__right {
        width: 500px;
        height: 348px;
    }
}

@media (max-width:970px) {
    .hero__right {
        width: 450px;
        height: 348px;
    }
}

@media (max-width:924px) {
    .hero__info {
        flex-direction: column;
        gap: 35px;
    }
    .about-info{
        flex-direction: column;
    }
}

@media (max-width:956px) {
    .nav-list {
        display: none;
    }

    .bars {
        display: flex;
    }
}

@media (max-width:665px) {
    .contact-info{
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width:566px) {
    .hero__left h1 {
        font-size: 40px;
        line-height: 110%;
        margin-bottom: 20px;
    }

    .hero__left p {
        margin-bottom: 20px;
        font-size: 18px;
    }

    .hero__right {
        width: 100%;
        height: auto;
    }
    .about-left {
        width: 100%;
        height: auto;
    }
}

@media (max-width:500px) {
    .base-btn {
        font-size: 18px;
        padding: 10px 28px;
    }
    .service-card{
        padding: 24px 0px 4px 0px;
    }
}
@media (max-width:400px) {
    .service-card{
        grid-template-columns: repeat(auto-fill, mimax(300px, 1fr));
    }
}